.timeSection{
    background: url('../../../media/aaa.jpg') no-repeat center/cover fixed;
    height: 65vh;

    .container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__box{
        background-color: rgba($color: rgb(39, 53, 66), $alpha: 1.0);
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 40px;
        
        h4{
            font-size: 20px;
            font-weight: 400;
            text-align: center;
        }
        p{
            font-size: 14px;
            font-weight: 300;
            text-align: center;
        }
    }
}

.bookingSection{
    height: 35vh;
    background-color: rgba($color: rgb(39, 53, 66), $alpha: 1.0);

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__box{
        height: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        h2{
            font-size: 30px;
            font-weight: 400;
        }

        a{
            height: 7%;
            background: none;
            border: 1px solid white;
            width: 100px;
            height: 30px;
            transition: all 0.18s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a:hover{
            background-color: white;
            color: black;
        }
    }
}



@media (max-width: 340px) {}


@media (max-width: 340px) {
    .bookingSection__box h2 {
        font-size: 25px;
    }
}