*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

main{
    min-height: 30vh;
    background-color: rgba($color: rgb(21, 30, 38), $alpha: 1.0);
}

.notFound{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

@media (max-width: 1300px) {
    .container {
        max-width: 89% !important;
    }

}

@media (max-width: 900px){
    .notFound{
        min-height: 62vh;
    }
}

@media (min-width: 910px){
    .notFound{
        min-height: 54vh;
    }
}
