.admin__login{
    height: 80vh;
    background-color: rgba($color: hsl(0, 17%, 21%), $alpha: 1.0);
    position: relative;

    .container{
        height: 100%;
    }

    &__box{
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;

        &-content{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 80%;


            h2{
                width: 60%;
                height: 20%;
                text-align: center;
            }

            form{
                height: 60%;
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                // border: 1px solid red;
            }

            input, button{
                height: 20%;
                background-color: black;
                border: 1px solid white;
                padding: 5px 20px;
            }

            button:hover{
                background-color: white;
                color: black;
            }
        }
    }
}

.admin__box-sidebar{
    display: flex;
    align-self: flex-start;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    width: 20%;
    background-color: black;

    a{
        border-bottom: 1px solid white;
        width: 80%;
        text-align: center;
        height: 10%;
    }
}

// .admin::after{
//     content: 'penis';
//     text-align: center;
//     background: url('../../media/pas.jpg') center/cover no-repeat;
//     width: 50px;
//     height: 50px;
//     position: absolute;
//     right: 0;
//     bottom: 0;
// }